@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jost&family=Open+Sans&family=Playfair+Display:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6{
    font-family: Anton,Arial, Helvetica, sans-serif
}
p{
    font-family: jost,Arial, Helvetica, sans-serif;
}

@media (max-width: 1060px) {
    .centered{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
  }

